body {
    font-family: Arial, sans-serif;
}

h1, h2, h4 {
    color: #333;
}

.navbar {
    margin-bottom: 20px;
}

.table {
    margin-top: 20px;
}

footer {
    background-color: #f8f9fa;
    padding: 10px 0;
}
#d1
{
    text-indent: 40px;
}